.space {
    margin-top: 10px;
}

.login-form {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    height: 100%;
    color: aliceblue;
    font-size: x-large;
}
.button {
    font: bold 18px Arial;
    text-decoration: none;
    background-color: #df1010;
    color: #ffffff;
    padding: 5px;
    margin: 1%;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  }